* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  width: 30vw;
  height: 40vh;
  background-color: #00000082;
  border: 2px solid black;
  display: flex;
  overflow: hidden;
}
.btn-row {
  width: 23%;
  height: max-content;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.minor-box {
  width: 20%;
  height: 100%;
  border: 1px solid black;
  transition: linear 0.5s;
}
@media (max-width: 720px) {
  .box {
    width: 74vw;
  }
}
.btn {
  font-size: 1rem;
  color: white;
  margin: 2px;
  padding: 4px 15px;
  font-weight: bold;
}
#btn-start {
  background-color: green;
}
#btn-stop {
  background-color: Red;
}
